<!-- Hero Section Begin -->
@Html.Action("MenuSlides", "Menu")
<!-- Hero Section End -->
<!-- Banner Section Begin -->
@Html.Action("MenuBanners", "Menu")
<!-- Banner Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Tất cả</li>
                    <li data-filter=".hot">Sản phẩm bán chạy nhất</li>
                    <li data-filter=".feature">Sản phẩm mới</li>
                    <li data-filter=".sales">Sản phẩm giảm giá</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            @Html.Action("Partial_ProductSales", "Products")
            @Html.Action("Partial_ProductFeature", "Products")
            @Html.Action("Partial_ProductHots", "Products")
        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Categories Section Begin -->
@Html.Action("MenuSpecialOffer", "Menu")
<!-- Categories Section End -->
<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="/Content/assets/client/img/instagram/instagram-1.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/Content/assets/client/img/instagram/instagram-2.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/Content/assets/client/img/instagram/instagram-3.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/Content/assets/client/img/instagram/instagram-4.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/Content/assets/client/img/instagram/instagram-5.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/Content/assets/client/img/instagram/instagram-6.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <h3>#Male_Fashion</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->
<!-- Latest Blog Section Begin -->
@Html.Action("Partial_News_Home", "News")
<!-- Latest Blog Section End -->