<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Fresh & Style</p>
                        <h1>Shop bán hàng thời trang</h1>
                        <div class="hero-btns">
                            <a href="/san-pham" class="boxed-btn">Đến trang sản phẩm</a>
                            <a href="/lien-he" class="bordered-btn">Liên hệ với chúng tôi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Miễn phí ship</h3>
                        <p>Với đơn hàng có giá trị từ 1 triệu trở lên</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>Hỗ trợ 24/7 </h3>
                        <p>Hỗ trợ mọi lúc, mọi nơi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Chính sách hoàn trả</h3>
                        <p>Trả hàng nếu không vừa ý hoặc lỗi nhà sản xuất trong 3 ngày tính từ ngày mua</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->
<!-- hots section -->
@Html.Action("MenuHots", "Menu")
<!-- hots product section -->
<!-- sales section -->
@Html.Action("MenuSales", "Menu")
<!-- end sales section -->
<!-- cart banner section -->
@Html.Action("MenuSpecialOffer", "Menu")
<!-- end cart banner section -->
<!-- testimonail-section -->
@Html.Action("MenuProductCategory", "Menu")
<!-- end testimonail-section -->
<!-- latest news -->
@Html.Action("Partial_News_Home", "News")
<!-- end latest news -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/Content/assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Content/assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Content/assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Content/assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Content/assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
