@model PagedList.PagedList<WebBanHangOnline.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Tin Tức";
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>@ViewBag.title</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- latest news -->
<div class="latest-news mt-150 mb-150">
    <div class="container">
        @if (Model != null && Model.Any())
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    <style>
                        .news-bg {
                            background-image: url(@item.Image);
                        }
                    </style>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-latest-news">
                            <a href="/@item.Alias-n@(item.Id)"><div class="latest-news-bg news-bg"></div></a>
                            <div class="news-text-box">
                                <h3><a href="/@item.Alias-n@(item.Id)">@item.Title</a></h3>
                                <p class="blog-meta">
                                    <span class="author"><i class="fas fa-user"></i>@item.CreatedBy</span>
                                    <span class="date"><i class="fas fa-calendar"></i>@item.CreatedDate</span>
                                </p>
                                <p class="excerpt">@item.Description</p>
                                <a href="/@item.Alias-n@(item.Id)" class="read-more-btn">Xem thêm<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination-wrap">
                                <ul>
                                    <li>
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- end latest news -->
