@model IEnumerable<WebBanHangOnline.Models.EF.News>
@if (Model != null && Model.Any())
{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Tin tức mới</h1>
                <p>Danh sách các bài tin tức mới nhất</p>
            </div>

            <div class="row g-4">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="@item.Image" alt="@item.Title" height="300">
                        <div class="bg-light p-4">
                            <a class="d-block h5 lh-base mb-4" href="">@item.Title</a>
                            <div class="text-muted border-top pt-4">
                                @*<small class="me-3"><i class="fa fa-user text-primary me-2"></i>@item.CreatedBy</small>*@
                                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>@item.CreatedDate.ToString("dd/MM/yyyy")</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Browse More News</a>
            </div>
        </div>
    </div>
}
