@model IEnumerable<WebBanHangOnline.Models.EF.Category>
@{
    ViewBag.Title = "Thêm mới danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="/Admin/Category/Create" class="add"><i class="fa fa-plus-square"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">#</th>
                                        <th class="column-title">Title </th>
                                        <th class="column-title">Alias </th>
                                        <th class="column-title">Position </th>
                                        <th class="column-title">IsActive </th>
                                        <th class="column-title">Tools </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Select ( <span class="action-cnt"> </span> )</a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        var i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr class="odd pointer">
                                                <td class="a-center ">
                                                    <input type="checkbox" class="flat" name="table_records">
                                                </td>
                                                <td class=" ">@i</td>
                                                <td class=" ">@item.Title</td>
                                                <td class=" ">@item.Alias</td>
                                                <td class=" ">@item.Position</td>
                                                <td class=" ">@item.IsActive</td>
                                                <td class=" last">
                                                    <a href="/admin/category/edit/@item.Id"><i class="fa fa-edit"></i>Edit </a> ||
                                                    <a href="#" data-user="@item.Id"><i class="fa fa-trash-o"></i>Delete </a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="odd pointer">
                                            <td colspan="6">Chả có cái account nào hết !!!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/category/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
}