@model PagedList.PagedList<WebBanHangOnline.Models.EF.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
            @using (Html.BeginForm("index", "Products", FormMethod.Get, new { }))
            {
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                        <div class="input-group">
                            @Html.TextBox("Searchtext", null, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-flat" type="submit">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>

        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="/Admin/Products/Create" class="add"><i class="fa fa-plus-square"></i> Add </a>
                            </li>
                            <li>
                                <a href="#" id="btnDeleteAll"><i class="fa fa-trash-o"></i> Delete All </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">#</th>
                                        <th class="column-title">Image </th>
                                        <th class="column-title">Title </th>
                                        <th class="column-title" style="text-align:center">ProductCategory </th>
                                        <th class="column-title" style="text-align:center">Quantity </th>
                                        <th class="column-title" style="text-align:center">Price </th>
                                        <th class="column-title" style="text-align:center">CreatedDate </th>
                                        <th class="column-title" style="text-align:center">Home </th>
                                        <th class="column-title" style="text-align:center">Sale </th>
                                        <th class="column-title" style="text-align:center">Hot </th>
                                        <th class="column-title" >Tools </th>
                                        <th class="bulk-actions" colspan="11">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Select ( <span class="action-cnt"> </span> )</a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                                        foreach (var item in Model)
                                        {
                                            var strCheckHot = item.IsHot ? "<i class='fa fa-check text-success'></i>" : "<i class='fa fa-times text-danger'></i>";
                                            var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fa fa-times text-danger'></i>";
                                            var strCheckSale = item.IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fa fa-times text-danger'></i>";
                                            var strImg = "";
                                            var CheckImage = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                                            if (CheckImage != null)
                                            {
                                                strImg = CheckImage.Image;
                                            }
                                            <tr class="odd pointer" id="trow_@item.Id">
                                                <td class="a-center ">
                                                    <input type="checkbox" class="flat" name="table_records" value="@item.Id">
                                                </td>
                                                <td class=" ">@i</td>
                                                <td class=" "><img class="imgproduct" data-id="@item.Id" src="@strImg" width="90" /></td>
                                                <td class=" ">@item.Title</td>
                                                <td class="text-center">@item.ProductCategory.Title</td>
                                                <td class="text-center">@item.Quantity</td>
                                                <td class="text-center">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)</td>
                                                <td class="text-center">@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                                <td class="text-center">
                                                    <a href='#' data-id="@item.Id" class="btnHome">@Html.Raw(strCheckHome)</a>
                                                </td>
                                                <td class="text-center">
                                                    <a href='#' data-id="@item.Id" class="btnSale">@Html.Raw(strCheckSale)</a>
                                                </td>
                                                <td class="text-center">
                                                    <a href='#' data-id="@item.Id" class="btnHot">@Html.Raw(strCheckHot)</a>
                                                </td>
                                                <td class=" last">
                                                    <a href="/admin/Products/edit/@item.Id"><i class="fa fa-edit"></i>Edit </a> ||
                                                    <a href="#" data-id="@item.Id" class="btnDelete"><i class="fa fa-trash-o"></i>Delete </a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="odd pointer">
                                            <td colspan="11">Thông tin trống !!!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-6" style="text-align:right">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            //hiển thị form upload ảnh
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: 'Quản lý ảnh sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on("click", ".imgproduct", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/admin/ProductImage/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });
            //xoá tất cả bản ghi đã chọn
            $('body').on('click', '#btnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                debugger;
                var checkbox = $(this).parents('.x_panel').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        } else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa các bản ghi này hay không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/Products/deleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });
            // xoá 1 bản ghi
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/Products/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            // on off hiển thị home
            $('body').on('click', '.btnHome', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsHome',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.IsHome) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                                //$(this).find("i").removeClass("fas fa-times text-danger")
                                //$(this).find("i").addClass("fa fa-check text-success");
                            } else {
                                btn.html("<i class='fa fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });
            // on off hiển thị sale
            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsSale',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.IsSale) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                                //$(this).find("i").removeClass("fas fa-times text-danger")
                                //$(this).find("i").addClass("fa fa-check text-success");
                            } else {
                                btn.html("<i class='fa fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });
            // on off hiển thị hot
            $('body').on('click', '.btnHot', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsHot',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.IsHot) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                                //$(this).find("i").removeClass("fas fa-times text-danger")
                                //$(this).find("i").addClass("fa fa-check text-success");
                            } else {
                                btn.html("<i class='fa fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });
        });
    </script>
}