@model IEnumerable<WebBanHangOnline.Models.EF.SpecialOffer>
@{
    ViewBag.Title = "Khuyến mại";
}
@if (Model != null)
{
    foreach (var item in Model)
    {
        <section class="cart-banner pt-100 pb-100">
            <div class="container">
                <div class="row clearfix">
                    <!--Image Column-->
                    <div class="image-column col-lg-6">
                        <div class="image">
                            <div class="price-box">
                                <div class="inner-price">
                                    <span class="price">
                                        <strong>@item.PercentageDiscount</strong> <br> giảm giá sốc
                                    </span>
                                </div>
                            </div>
                            <img src="@item.Image" alt="@item.Title">
                        </div>
                    </div>
                    <!--Content Column-->
                    <div class="content-column col-lg-6">
                        <h3><span class="orange-text">@item.Title</span></h3>
                        <!--Countdown Timer-->
                        <div class="time-counter"><div class="time-countdown clearfix" data-countdown="@item.PromotionTime"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                        <a href="#" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
        </section>
    }

}
