@model IEnumerable<WebBanHangOnline.Models.EF.Product>
@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Products</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- ======= Portfolio Section ======= -->
<div class="container-xxl py-5">
    <div class="container">
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">@ViewBag.title</h1>
                    <p>Danh sách các sản phẩm hiện đang có ở web này :v</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    @Html.Action("MenuArrivals", "Menu")
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    @Html.Action("Partial_ItemByCateId", "Products")
                </div>

            </div>
        </section>
    </div>
</div>
    <!-- End Portfolio Section -->
<!-- Product Start -->
<!--<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Our Products</h1>
                    <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
            </div>
            @Html.Action("MenuArrivals", "Menu")
        </div>
        <div class="tab-content">
            @Html.Action("Partial_ItemByCateId", "Products")
        </div>
    </div>
</div>-->
<!-- Product End -->

@section scripts{
    <script src="~/Content/js/categories_custom.js"></script>
}
