@model PagedList.IPagedList<WebBanHangOnline.Models.EF.Product>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>@ViewBag.Title</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <a href="/san-pham">@ViewBag.Title</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { }))
                        {
                            @*<div class="bor8 dis-flex p-l-15">
                                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                    @Html.TextBox("Searchtext", null, new { @class = "mtext-107 cl2 size-114 plh2 p-r-15", @placeholder = "Search" })
                                </div>*@
                            @Html.TextBox("Searchtext", null, new { @placeholder = "Search" })
                            <button type="submit"><span class="icon_search"></span></button>
                        }

                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            @Html.Action("MenuArrivals", "Menu")
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Giá sản phẩm</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">$0.00 - $50.00</a></li>
                                                <li><a href="#">$50.00 - $100.00</a></li>
                                                <li><a href="#">$100.00 - $150.00</a></li>
                                                <li><a href="#">$150.00 - $200.00</a></li>
                                                <li><a href="#">$200.00 - $250.00</a></li>
                                                <li><a href="#">250.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Màu sắc</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-5" for="sp-5">
                                                <input type="radio" id="sp-5">
                                            </label>
                                            <label class="c-6" for="sp-6">
                                                <input type="radio" id="sp-6">
                                            </label>
                                            <label class="c-7" for="sp-7">
                                                <input type="radio" id="sp-7">
                                            </label>
                                            <label class="c-8" for="sp-8">
                                                <input type="radio" id="sp-8">
                                            </label>
                                            <label class="c-9" for="sp-9">
                                                <input type="radio" id="sp-9">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Hiển thị @ViewBag.CurrentCount sản phẩm trong tổng số @ViewBag.TotalProducts sản phẩm tìm thấy.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>
                                    Sắp xếp theo giá:
                                    <a href="@Url.Action("Index", new { sortOrder = ViewBag.CurrentSort == "price_desc" ? "" : "price_desc", Searchtext = Request.QueryString["Searchtext"] })">
                                        @if (ViewBag.CurrentSort == "price_desc")
                                        {
                                            <span>Giá từ thấp đến cao</span> }
                                        else
                                        {
                                            <span>Giá từ cao đến thấp</span>}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            var strImge = "";
                            var img = item.ProductImages.FirstOrDefault(x => x.IsDefault);
                            if (img != null)
                            {
                                strImge = img.ImageUrl;
                            }
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@strImge">
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="/Content/assets/client/img/icon/heart.png"><span>Yêu thích</span></a></li>
                                            <li>
                                                <a href="#"><img src="/Content/assets/client/img/icon/compare.png"><span>So sánh</span></a>
                                            </li>
                                            <li><a href="/chi-tiet/@item.Alias-p @item.Id"><img src="/Content/assets/client/img/icon/search.png"><span>Xem chi tiết</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@item.Title</h6>
                                        <a href="#" class="add-cart btnAddToCart" data-id="@item.Id">+ Thêm vào giỏ</a>
                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        @if (item.PriceSale > 0)
                                        {
                                            <h5>
                                                <span style="color:red;">@WebBanHangOnline.Common.Common.FormatNumber(item.PriceSale, 0) đ</span>
                                                <span><del>@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0) đ</del></span>
                                            </h5>
                                        }
                                        else
                                        {
                                            <h5><span style="color:red;">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0) đ</span></h5>
                                        }
                                        <div class="product__color__select">
                                            <label for="pc-4">
                                                <input type="radio" id="pc-4">
                                            </label>
                                            <label class="active black" for="pc-5">
                                                <input type="radio" id="pc-5">
                                            </label>
                                            <label class="grey" for="pc-6">
                                                <input type="radio" id="pc-6">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    { <!-- Hiển thị thông báo nếu không có sản phẩm -->
                        <h4>Không có sản phẩm nào trùng với tìm kiếm.</h4>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Searchtext = Request.QueryString["Searchtext"] }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->