@model IEnumerable<WebBanHangOnline.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImge = "";
        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImge = img.Image;
        }
        <div class="single-product-item">
            <div class="product-image">
                <a href="/chi-tiet/@item.Alias-p @item.Id"><img src="@strImge" alt="@item.Title"></a>
            </div>
            <h3>@item.Title</h3>
            @if (item.PriceSale > 0)
            {
                <p class="product-price" style="color:red;">@WebBanHangOnline.Common.Common.FormatNumber(item.PriceSale, 0)đ</p>
                <p class="product-price">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)đ</p>
            }
            else
            {
                <p class="product-price">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)đ</p>
            }
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ</a>
        </div>
    }
}
