@model IEnumerable<WebBanHangOnline.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImge = "";
        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImge = img.Image;
        }
        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="product-item" @item.ProductCategory.Alias>
                <div class="position-relative bg-light overflow-hidden">
                    <img class="img-fluid w-100" src="@strImge" alt="@item.Title">
                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Hot</div>
                </div>
                <div class="text-center p-4">
                    <a class="d-block h4 mb-2" href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a>
                    @if (item.PriceSale > 0)
                    {
                        <span class="text-primary me-1">@WebBanHangOnline.Common.Common.FormatNumber(item.PriceSale, 0)đ</span>
                        <span class="text-body text-decoration-line-through">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)đ</span>
                    }
                    else
                    {
                        <span class="text-primary me-1">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)đ</span>
                    }
                </div>
                <div class="d-flex border-top">
                    <small class="w-50 text-center border-end py-2">
                        <a class="text-body" href="/chi-tiet/@item.Alias-p@(item.Id)"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                    </small>
                    <small class="w-50 text-center py-2">
                        <a class="text-body" href="#" data-id="@item.Id"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                    </small>
                </div>
            </div>
        </div>
    }
}
