@model IEnumerable<WebBanHangOnline.Models.ApplicationUser>
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Account <small>Danh sách tài khoản</small></h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">#</th>
                                        <th class="column-title">User name</th>
                                        <th class="column-title">Full name </th>
                                        <th class="column-title">Phone number</th>
                                        <th class="column-title">Email </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Tools</span>
                                        </th>
                                        <th class="bulk-actions" colspan="6">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Select ( <span class="action-cnt"> </span> )</a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        var i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr class="odd pointer">
                                                <td class="a-center ">
                                                    <input type="checkbox" class="flat" name="table_records">
                                                </td>
                                                <td class=" ">@i</td>
                                                <td class=" ">@item.UserName</td>
                                                <td class=" ">@item.FullName</td>
                                                <td class=" ">@item.Phone</td>
                                                <td class=" ">@item.Email</td>
                                                <td class=" last">
                                                    <a href="/admin/account/edit/@item.Id"><i class="fa fa-edit"></i>Edit </a> ||
                                                    <a href="#" data-user="@item.Id"><i class="fa fa-trash-o"></i>Delete </a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
