@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common

@if (Model != null && Model.Any())
{
    var tongtien = decimal.Zero;
    var thanhtien = decimal.Zero;
    var tienship = 50000;
    <div class="row">
        <div class="col-lg-8">
            <div class="shopping__cart__table">
                <table>
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        tongtien += item.TotalPrice;
                        thanhtien = tongtien + tienship;
                        <tbody id="trow_@item.ProductId">
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="@item.ProductImg" alt="@item.ProductName" height="90">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>@item.ProductName</h6>
                                        <h5>@Common.FormatNumber(item.Price, 0)</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" id="Quantity_@item.ProductId" value="@item.Quantity" min="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">@Common.FormatNumber(item.Price, 0)</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="continue__btn">
                        <a href="/san-pham">Tiếp tục mua hàng</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="continue__btn update__btn">
                        <a href="#"><i class="fa fa-spinner"></i>Cập nhật giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cart__total">
                <h6>Cart total</h6>
                <ul>
                    <li>Tổng tiền giỏ hàng <span>@Common.FormatNumber(tongtien, 0)</span></li>
                    <li>Tiền ship hàng <span>@Common.FormatNumber(tienship, 0)</span></li>
                    <li>Thành tiền<span>@Common.FormatNumber(thanhtien, 0)</span></li>
                </ul>
                <a href="/thanh-toan" class="primary-btn">Thanh toán</a>
            </div>
        </div>
    </div>

}
else
{
    <div class="col-lg-8 offset-lg-2 text-center">
        <p>Không có sản phẩm nào trong giỏ hàng, bấm <a href="/san-pham">vào đây</a> để mua hàng</p>
    </div>
}
